:root {
  --white: #ffffff;
  --black: #000000;
  --riddle-gold: #f0c85a;
  --riddle-navy: #000e2e;
  --leaflet-light-gray: #f4f4f4; /* Used for leaflet like buttons hover */
  --leaflet-dark-gray: #cccccc; /* Used for leaflet like buttons selected */
}

body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

ul {
  font-size: 0;
}

li {
  font-size: 12px;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
    position: fixed; 
    display: flex;
}

#infoPane {
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  z-index: 800;
  display: none;
  cursor: default;
}

#infoPaneContent {
    width: 350px;
    background-color: var(--riddle-navy);
    border-radius: 2px;
    

    /*
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;*/
}

#closeButton {
    height: 24px; 
    width: 24px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    color: var(--white);
}

#closeButton:hover {
    cursor: pointer;
}

.planeMarker {
    transform-origin: center;
}

.airportMarker {
    transform-origin: center;
}

.collapsible {
    padding-top: 2%;
    background-color: var(--white);
    outline: none;
    border: none;
    text-align: left;
    width: 100%;
}

.collapsible:after {
    content: "\02B9C";
}

.activeTower:after {
    content: "\02B9F";
}

.collapsible:hover {
    cursor: pointer;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--white);
}

#zoomedTooFarOut {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    z-index: 800;
}

#zoomedTooFarOut span {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px 4px;
    background-color: var(--riddle-navy);
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: var(--white);
    font-weight: bold;
}

/* for the collapsable menu menu on the map screen */

.mapCollapsible,
.mapSideControl button,
.mapSideControl button a {
    background-color: var(--white);
    color: var(--black);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    outline: none;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
  }
  
  .active {
    border-radius: 2px 2px 0px 0px !important;
  }
  
  .active,
  .mapCollapsible:hover,
  .collapsibleContent:hover,
  .mapSideControl button:hover{
    background-color: var(--leaflet-light-gray);  
  }
  
  .firstButton {
    border-radius: 2px 2px 0px 0px;
  }
  
  .lastButton {
    border-radius: 0px 0px 2px 2px;
  }
  
  
  .mapCollapsible:after {
    color: var(--black);
    font-weight: bold;
    content: '\002B';
  }

  .collapsibleContent {
    color: var(--black);
    font-weight: bold;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .contentDropdown p {
      margin-block-start: 0;
      margin-block-end: 0;
  }
  
  .contentDropdown {
    padding: 0 0;
    box-sizing: border-box;
    max-height: 0;
    width: 30px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
.mapSideControl {
    margin-bottom: 10px;
    width: 30px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    border-radius: 4px;
    pointer-events: auto;
  }
  
  .primaryButton {
    border-radius: 2px 2px 2px 2px;
    pointer-events: auto;
  }
  
  .collapsibleContent {
    border-top: 1px solid var(--leaflet-dark-gray) !important;
    pointer-events: auto;
  }

  .collapsibleContent:active {
    background-color: var(--leaflet-dark-gray);
  }

  .selectionClusterLocation {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    margin-right: 10px;
    margin-top: 84px;
    top: 0;
    right: 0;
  }

/* infoPane styles */

.infoPaneItem li {
  list-style-type: none;
  display: inline-block;
  /*float: left;*/
}

.infoPaneLabel {
  width: 120px;
}

.infoPaneItem {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  content: " ";
  display: block;
  clear: both;
}

#infoPaneTitle {
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: var(--white);
}
.infoPaneName {
  background-color: var(--white);
  color: var(--riddle-navy);
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.infoPaneSubcategory {
  background-color: var(--leaflet-dark-gray);
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 2px 2px 2px 2px;
}

#infoPanePrimaryHeader {
  text-align: center;
  position: relative;
}

.infoPaneData {
  width: 210px;
}

.clearFloat:after {
  content: " ";
  display: block;
  clear: both;
}
/**
* We want to override leaflet font configs so we mark as !important
*/

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font-size: 15px !important;
  font-family: Arial, sans-serif !important;
  color: var(--black);
  font-weight: bold !important;
}

.toggleActive {
  background-color: var(--leaflet-dark-gray) !important;
}

.infoPaneSubtitle {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: var(--riddle-gold);
}