:root {
    --riddle-gold: #f0c85a;
    --riddle-navy: #000e2e;
    --white: #ffffff;
    --light-gray: #e6e6e6;
}

html {
    background: var(--riddle-navy);
}

body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    margin: 0px;
}

@media (min-width: 1200px) {
    .content {
        width: 1170px;

    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

header {
    width: 100%;
}

#headerBlock {
    height: 150px;
    background-color: var(--riddle-navy);
    color: #ffffff;
}

#navBlock {
    background: linear-gradient(to bottom, var(--light-gray) 0%, var(--white) 85%, var(--light-gray) 100%);
}

footer {
    width: 100%;
    overflow: hidden;
}

#upperFooterBlock {
    background: linear-gradient(to bottom, var(--light-gray) 0%, var(--white) 85%, var(--light-gray) 100%);
}

#lowerFooterBlock {
    min-height: 200px;
    background-color: var(--riddle-navy);
    color: #ffffff;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    display: block;
}

nav li {
    list-style-type: none;
    font-size: 14pt;
    /* display: inline-block; */
    float: left;
}

nav a {
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

nav a:hover {
    background-color: #606060;
}

.button {
    height: 15%;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: greenyellow;
    text-align: center;
    box-shadow: 3px 3px 2px grey;
}

.button a {
    text-decoration: none;
    color: black
}

#indexContentBackground1 {
    height: 500px;
    /*background-color: #ff0000;*/
    background-image: url("../images/backgroundImages/mapBackgroundImage.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.indexContentBackgroundContent {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.indexCenterMapLinks {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indexCenterMapLinks a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--riddle-navy);
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}

.indexCenterMapLinks a:hover {
    background-color: #444444;
}

.clearFloat:after {
    content: " ";
    display: block;
    clear: both;
}

.bold-font {
    font-weight: bold;
}

.gold-font {
    color: var(--riddle-gold);
}

.middle-align {
    text-align: center;
}

.no-underline {
    text-decoration-line: none;
}

.small-font {
    font-size: 14px;
}

.link-spacing {
    padding: 0px 5px 0px 5px;
}

.right-link-spacing {
    padding: 0px 5px 0px 0px;
}

.bar-spacing {
    padding: 0px 3px 0px 8px;
}
.navy-font {
    color: var(--riddle-navy)
}

.rounded {
    border-radius: 4px 4px;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    margin-top: 0px;
}

.vertical-bottom {
    vertical-align: bottom;
    padding-top: 100px;
}

.less-left-content {
    padding-left: 0px;
}

.some-left-padding {
    padding-left: 10px;
}

.sticky {
    position: sticky;
}
