{% extends 'template.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div>
    <div class="content">
        <h2>About the App</h2>
        <h3>How to use:</h3>
        <p>The map interface has zoom functionality and the ability to toggle between geographical and various aeronautical maps</p>
        <h2>About the development</h2>
        <p>ASR for ATC App, designed by students at Embry-Riddle Aeronautical univserity under the guidence of Dr. Jianhua Liu, listed below are the teams of students who have worked on the project since it begain</p>
        <h3>Senior Design 2022 - 2023</h3>
        <p>The first year senior design team proved the concept of an ASR app for ATC by creating the original app in python and using the NeMo ASR software to impliemnt ASR models</p>
        <h3>Senior Design 2023 - 2024</h3>
        <p>Second year senior design team was divided into two groups, Kaldi Group and NeMo Group, Kaldi was tasked with developing a suitable model for ASR for ATC using Kaldi ASR, while NeMo was tasked with continuing developing the application in javascript, continuing the work done By Aaron Van De Brooke over the summer, and reintegrating and better optimizing the connection to NeMo ASR software</p>
        <h3>Work done by Aaron Van De Brooke</h3>
        <p>much of the initial transfer of the application interface to javascript was done by Aaron Van De Brooke, along with creating better ASR models for NeMo, getting the Word Error Rate down from ~0.3 to about 0.15</p>
        <h3>Dr. Jianhua Liu</h3>
        <p>Details:</p>
        <h3>Andrew Schneider</h3>
        <p>Details:</p>
    </div>
</div>
{% endblock %}