{% extends 'template.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div>
    <div style="width=100%;">
        <div class="content navy-font">
            <h1 style="margin-top: 5px; margin-bottom: 10px;">Contact Us</h1>
            <p>If you have any questions, comments, or concerns, please feel free to reach out to us. <br /><br />Below is the contact information for Dr. Jianhua Liu who can forward you to the most appropriate team member.</p>
            <p><strong>Dr. Jianhua Liu</strong><br />Jianhua.Liu@erau.edu</p>
        </div>
    </div>
</div>
{% endblock %}
