<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Speech-To-Text, ATC">
        <meta name="description" content="Speech-To-Text for ATC, An app developed by students at Embry-Riddle Aeronautical Univsersity to help student pilots better understand Air Traffic Control speech and terminology.">
        <meta name="version" content="1">
        <!--<meta http-equiv="refresh" content="30">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}" />
    </head>
    <body>
        <header>
            <div id="headerBlock">
                <div class="content">
                    <span>ASR for ATC App</span>
                </div>
            </div>
            <div id="navBlock" class="clearFloat">
                <nav class="content">
                    <ul>
                        <li><a href="{{ url_for('index.index') }}">Home</a></li>
                        <li><a href="{{ url_for('about.about') }}">About</a></li>
                        <li><a href="{{ url_for('map.map', type='geo') }}">Interactive Map</a></li>
                        <li><a href="{{ url_for('replay.replay') }}">Replay Audio</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section>
            {% block content %}
            {% endblock %}
        </section>
        <footer>
            <div id="upperFooterBlock">
                <div class="content">
                    <div class="wrapper">
                        <p>Details</p>
                    </div>
                </div>
            </div>
            <div id="lowerFooterBlock">
                <div class="content">
                    <div class="wrapper">
                        <p><a href="{{ url_for('site_map.site_map') }}">Site map</a>, <a href="https://erau.edu/">Embry-Riddle</a>, Terms of use, privacy</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>