<!DOCTYPE html>
<html>

<head>
    <title>Geographic Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/map.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin=""></script>
    <script src="{{ url_for('static', filename='vendor/jquery-3.7.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/leaflet.rotatedMarker.js') }}"></script>
</head>

<body onload="initializeMap()"> 
    <div id="map">
        <div id="infoPane">
            <div class="INFOPANETEMP">
                <span class="infoPaneTitle">Info Pane</span>
                <img id="closeButton" src="{{ url_for('static', filename='images/xmark-solid.svg') }}" />
            </div>
            
            <table id="infoTable"></table>
        </div>
        <div id="zoomedTooFarOut">
            <span>Zoom to view content</span>
        </div>
        <div class="selectionClusterLocationParent">
            <div class="selectionClusterLocation">
                <div class="altitudeToggleCluster">
                    <button title="Altitude Coloring Toggle" aria-label="Altitude Coloring Toggle" onclick="toggleAltitudeColors()" class="altitudeColorButton">
                        <span>A</span>
                    </button>
                </div>
                <div class="selectionCluster">
                    <button title="Map Type Toggle" aria-label="Map Type Toggle" onclick="dropDownSelection()" class="mapCollapsible primaryButton"></button>
                    <div class="contentDropdown">
                        <button title="Geographic Map" aria-label="Geographic Map" onclick="tileSetChange('geographic')" class="collapsibleContent" id="geographic">
                            <span>G</span>
                        </button>
                        <button title="Hybrid VFR Map" aria-label="Hybrid VFR Map" onclick="tileSetChange('vfrc')" class="collapsibleContent" id="vfrc">
                            <span>V</span>
                        </button>
                        <button title="Sectionals Map" aria-label="Sectionals Map" onclick="tileSetChange('sectc')" class="collapsibleContent" id="sectc">
                            <span>S</span>
                        </button>
                        <button title="Helicopter Map" aria-label="Helicopter Map" onclick="tileSetChange('helic')" class="collapsibleContent" id="helic">
                            <span>H</span>
                        </button>
                        <button title="Low IFR Map" aria-label="Low IFR Map" onclick="tileSetChange('ifrlc')" class="collapsibleContent" id="ifrlc">
                            <span>LI</span>
                        </button>
                        <button title="High IFR Map" aria-label="High IFR Map" onclick="tileSetChange('ehc')" class="collapsibleContent lastButton" id="ehc">
                            <span>HI</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

    <script>
        setup_event_listeners();

        map.setView({ lat: {{ initial_center['lat'] }}, lng: {{ initial_center['lon'] }}, }, {{ initial_center['zoom'] }});

        const airport_data_request = new XMLHttpRequest();

        // add event listener for when an airport data response is received
        airport_data_request.addEventListener("load", () => {
            // ignore cases where response body is null
            console.log(airport_data_request.response);
            if (airport_data_request.response == null)
                return;

            console.log(airport_data_request.response);
            airportData = airport_data_request.response.airport_data;
            draw_airport_markers(airport_data_request.response.airport_data);
        });

        airport_data_request.open("GET", "/data/airports/FL");
        airport_data_request.responseType = "json";
        airport_data_request.send();
        
        main();
    </script>
</body>

</html>